<ion-view title="Events Home" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="eventsHome-heading1" style="color:#000000;text-align:center;">Events</h1>
    <div class="list card" id="eventsHome-card21">
      <ion-item class="item-icon-left" id="eventsHome-list-item3">
        <i class="icon ion-ios-color-wand"></i>Cultural Events</ion-item>
      <div class=" item item-image">
        <img src="img/VKlzgz7RC6qd2p9MeAKw_dance.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left assertive" id="eventsHome-list-item4" ui-sref="tabsController.eventPage">
        <i class="icon ion-more"></i>Browse</ion-item>
    </div>
    <div class="list card" id="eventsHome-card22">
      <ion-item class="item-icon-left" id="eventsHome-list-item5">
        <i class="icon ion-ionic"></i>Sports Events</ion-item>
      <div class=" item item-image">
        <img src="img/9xuWEDRQCJw8VltumUOQ_sports.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="eventsHome-list-item-container3">
        <div id="eventsHome-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="eventsHome-list-item6" ui-sref="tabsController.eventPage">
        <i class="icon ion-more"></i>Browse</ion-item>
    </div>
  </ion-content>
</ion-view>