<ion-view title="Home" id="page2" style="background-color:#141413;">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="tabsController.eventsHome">
        <img src="img/jQXxVObeSD2l4DusPDAA_LOGO-NU17.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="tabsController.eventsHome" id="home-button1" class="button button-positive  button-block">Browse</a>
  </ion-content>
</ion-view>