<ion-view title="Register" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="register-form1" class="list">
      <ion-list id="register-list1">
        <label class="item item-input" id="register-input1">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="register-select1" name="Event">
          <span class="input-label">Select Event</span>
          <select>
            <option>Dance</option>
            <option>Fashion Show</option>
            <option>Debate</option>
            <option>Anthyakshari</option>
            <option>Skit</option>
            <option>Cooking without fire</option>
            <option>Vegetable Carving</option>
            <option>Best Manager</option>
            <option>Treasure Hunt</option>
            <option>Collage</option>
            <option>Mehendi</option>
            <option>Dumb Charades</option>
            <option>Face Painting</option>
            <option>Singing</option>
          </select>
        </label>
        <label class="item item-input" id="register-input2">
          <span class="input-label">College Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="register-input3">
          <span class="input-label">Mobile</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="register-input4">
          <span class="input-label">Email ID</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="register-button9" class="button button-positive  button-block">Register</button>
    </form>
  </ion-content>
</ion-view>